<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#2E383B",
              secondary: "#D05510",
              accent: "#F6A10F",
              background: "#1B2325",
              "text-light": "#B1B6B5ff",
              "text-dark": "#333333",
            },
            fontFamily: {
              poppins: ["Poppins", "serif"],
            },
          },
        },
      };
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Placeholder Name - Resume</title>
  </head>
  <body class="bg-background print:bg-white">
    <div
      class="container mx-auto px-4 sm:px-6 md:px-8 py-8 max-w-3xl bg-white shadow-lg"
    >
      <header
        class="mb-8 py-4 px-6 flex flex-col md:flex-row md:align-baseline space-x-5 justify-between"
      >
        <h1
          class="font-poppins text-3xl sm:text-9xl font-black text-accent uppercase"
        >
          Fred Smith
        </h1>
        <div
          class="flex flex-col sm:items-end space-y-2 sm:space-y-0 sm:space-x-4 text-primary justify-end font-semibold"
        >
          <span class="inline-block rounded-md px-3 py-1"
            >Placeholder Location</span
          >

          <span class="inline-block rounded-md px-3 py-1 hover:text-accent">
            <a href="tel:123-456-7890">123-456-7890</a>
          </span>

          <span class="inline-block rounded-md px-3 py-1 hover:text-accent">
            <a href="mailto:placeholder@email.com">placeholder@email.com</a>
          </span>
        </div>
      </header>
    </div>
  </body>
</html>
